<div *ngIf="this.detailService.venue">
  <div *ngIf="this.detailService.venueData != null">
      <div class="venueheader">
        <b>{{this.detailService.venueData._embedded.venues[0].name}}</b>
      </div>
      <table class="table table-striped table-responsive-sm">
        <tr *ngIf="this.detailService.venueData._embedded.venues[0].address">
          <td class="name">Address</td>
          <td class="cont"><span *ngIf="this.detailService.venueData._embedded.venues[0].address.line1">{{this.detailService.venueData._embedded.venues[0].address.line1}}</span><span  *ngIf="!this.detailService.venueData._embedded.venues[0].address.line1">N/A</span></td>
        </tr>
        <tr *ngIf="this.detailService.venueData._embedded.venues[0].city">
          <td class="name">City</td>
          <td class="cont">{{this.detailService.venueData._embedded.venues[0].city.name}}<span  *ngIf="this.detailService.venueData._embedded.venues[0].state">, {{this.detailService.venueData._embedded.venues[0].state.name}}</span></td>
        </tr>
        <tr *ngIf="this.detailService.venueData._embedded.venues[0].ada">
          <td class="name">Phone Number</td>
          <td class="cont"><span *ngIf="this.detailService.venueData._embedded.venues[0].ada.adaPhones">{{this.detailService.venueData._embedded.venues[0].ada.adaPhones}}</span><span *ngIf="!this.detailService.venueData._embedded.venues[0].ada.adaPhones">N/A</span></td>
        </tr>
        <tr *ngIf="this.detailService.venueData._embedded.venues[0].boxOfficeInfo">
          <td class="name">Open Hours</td>
          <td class="cont"><span *ngIf="this.detailService.venueData._embedded.venues[0].boxOfficeInfo.openHoursDetail">{{this.detailService.venueData._embedded.venues[0].boxOfficeInfo.openHoursDetail}}</span><span *ngIf="!this.detailService.venueData._embedded.venues[0].boxOfficeInfo.openHoursDetail">N/A</span></td>
        </tr>
        <tr *ngIf="this.detailService.venueData._embedded.venues[0].generalInfo">
          <td class="name">General Rule</td>
          <td class="cont"><span *ngIf="this.detailService.venueData._embedded.venues[0].generalInfo.generalRule">{{this.detailService.venueData._embedded.venues[0].generalInfo.generalRule}}</span><span *ngIf="!this.detailService.venueData._embedded.venues[0].generalInfo.generalRule">N/A</span></td>
        </tr>
        <tr *ngIf="this.detailService.venueData._embedded.venues[0].generalInfo">
          <td class="name">Child Rule</td>
          <td class="cont"><span *ngIf="this.detailService.venueData._embedded.venues[0].generalInfo.childRule">{{this.detailService.venueData._embedded.venues[0].generalInfo.childRule}}</span><span *ngIf="!this.detailService.venueData._embedded.venues[0].generalInfo.childRule">N/A</span></td>
        </tr>
      </table>

      <agm-map [zoom]="14" [latitude]="this.detailService.location.latitude" [longitude]="this.detailService.location.longitude">
        <agm-marker [latitude]="this.detailService.location.latitude" [longitude]="this.detailService.location.longitude">
        </agm-marker>
      </agm-map>
  </div>
</div>
